html,body{
    height: 100%;
}
body{
    background-image: url(/Images/africanBaby.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size:cover;
}
.container{
    align-items: center;
    padding-left: 50px;
}
.form-check-input:checked{
    background-color: #338C9D;
    border: none;
}
 
#akanNm, #dayWeek{
    color:blueviolet;
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;

}

